# OSX
.DS_Store

# node.js
node_modules/
npm-debug.log
yarn-error.log
flow-typed

# Secrets
.env
.env.*
secrets.tar

# Testing
api/coverage
app/coverage

# local dev
app/.docz
*.sqlite
*.tar.gz

# IntelliJ
.idea/
*.iml

# build
build/
app/public/js/app.js
app/public/js/app.js.map
proxy/dist
sanity/dist
