<!--
	* * * DEV MODE ONLY * * *

	This file is used by webpack for local development.

	For the server template, see server/views/index
-->

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>Bailey Hikawa { dev }</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
	</head>

	<body>
		<div id="root"></div>
	</body>
</html>
